@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #191D32;
  color: #fff;
  font-family: 'Russo One', monospace;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    opacity: 1;
    text-shadow:
      0 0 2px #A0EFFF,
      0 0 4px #A0EFFF,
      0 0 8px #A0EFFF,
      0 0 16px #A0EFFF;
  }
  20%, 24%, 55% {
    opacity: 0.7;
    text-shadow: none;
  }
}
.flicker {
  animation: flicker 3s infinite;
}